# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la

# Structure CodeBlock
*.depend
*.layout
*.cbp

#dossier Compilation
/obj
/bin


