# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Structure CodeBlock
*.depend
*.layout


#dossier Compilation
/obj
/bin
